[Desktop Entry]
Name=Oculante
Comment=A no-nonsense hardware-accelerated image viewer
GenericName=Image Viewer
Keywords=image viewer;graphics;
Exec=oculante %U
Icon=io.github.woelper.Oculante
Terminal=false
Categories=Graphics;
Type=Application
MimeType=image/bmp;image/gif;image/vnd.microsoft.icon;image/jpeg;image/png;image/pnm;image/avif;image/tiff;image/webp;image/svg+xml;image/exr;image/x-dcraw;image/x-nikon-nef;image/x-canon-cr2;image/x-adobe-dng;image/x-epson-erf;image/x-fuji-raf;image/x-sony-arw;image/x-sony-srf;image/x-sony-sr2;image/x-panasonic-raw;
