[package]
authors = ["Johann Woelper <woelper@gmail.com>"]
description = "A minimalistic image viewer with analysis and editing tools"
edition = "2018"
exclude = ["res/*.gif", "tests/*"]
keywords = ["graphics", "image", "viewer"]
license = "MIT"
name = "oculante"
readme = "README.md"
repository = "https://github.com/woelper/oculante/"
version = "0.8.21"

[package.metadata.bundle]
icon = ["res/oculante.png"]
identifier = "com.github.woelper.oculante"
name = "oculante"

[dependencies]
anyhow = "1.0"
arboard = {version="3.2", features = ["wayland-data-control"]}
avif-decode = {version = "0.2", optional = true}
clap = "3.2"
dds-rs = "0.7"
dirs = "5.0"
env_logger = "0.11"
evalexpr = "11.1"
exr = "1.7"
fast_image_resize = "2.7"
gif = "0.12"
gif-dispose = "4"
image = {version = "0.25.1", features = ["hdr"]}
kamadak-exif = "0.5"
lexical-sort = "0.3"
libavif-image = { version = "0.11", optional = true }
log = "0.4"
nalgebra = "0.32"
notan = { version = "0.12", default-features = false, features = [
  "backend",
  "draw",
  "drop_files",
  "egui",
] }
egui_plot = "0.26"
palette = "0.7"
psd = "0.3"
quickraw = "0.1.6"
rand = "0.8"
rand_chacha = "0.3"
rayon = "1.7"
resvg = "0.33.0"
rfd = { version = "0.13", optional = true }
rgb = "0.8"
self_update = { version = "0.39", default-features = false, features = [
  "rustls",
], optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
strum = { version = "0.26", features = ["derive"] }
strum_macros = "0.26"
tiny-skia = "0.9"
turbojpeg = {version = "0.5.4", features = ["image"], optional = true}
usvg = "0.33.0"
webbrowser = "0.8"
tiff = "0.9"
jxl-oxide = "0.7"
zune-png = "0.5.0-rc1"
img-parts = "0.3"
dark-light = "1.0"
trash = "3.1"
lutgen = {version ="0.10.0", features = ["lutgen-palettes"]}
libheif-rs = { version = "0.22.0", default-features = false, optional = true}
egui-phosphor = "0.4"
egui-notify = "0.13"
ktx2 = "0.3.0"
wgpu = "0.19"
thiserror = "1.0.51"
bitflags = "2.4.1"
flate2 = "1.0.28"
ruzstd = "0.5.0"
basis-universal = "0.3.1"
mouse_position = "0.1.3"
webp-animation = { version = "0.9.0", features = ["static"] }
fluent-uri = "0.1.4"
imageproc = { version = "0.24.0", features = ["rayon"] }
zune-core = "0.4.12"
num-traits = "0.2.18"
zerocopy = "0.7.34"
icns = "0.3.1"

[features]
default = ["turbo", "avif_native", "file_open", "update", "notan/glsl-to-spirv"]
heif = ["libheif-rs"]
avif_native = ["avif-decode"]
dav1d = ["libavif-image"]
file_open = ["rfd"]
turbo = ["turbojpeg"]
update = ["self_update"]



[target.'cfg(target_os = "macos")'.dependencies]
fruitbasket = "0.10.0"


[target.'cfg(windows)'.build-dependencies]
# this currently causes a link error LNK1356, check in the future if the problem was solved
windres = "0.2"

[build-dependencies]
env_logger = "0.11"
log = "0.4.14"
winres = "0.1"
cc = "1.0.46"
cmake = "0.1"

[dev-dependencies]
cmd_lib = "1.3.0"

[profile.release]
codegen-units = 1
# incremental = false
lto = true
strip = true
opt-level = 3
panic = "abort"

[profile.dev]
debug = false
incremental = true
opt-level = 1
